<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400" rel="stylesheet">

<link rel="stylesheet" href="/../assets/css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="/../assets/fonts/ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/../assets/fonts/law-icons/font/flaticon.css">

<link rel="stylesheet" href="/../assets/fonts/fontawesome/css/font-awesome.min.css">


<link rel="stylesheet" href="/../assets/css/slick.css">
<link rel="stylesheet" href="/../assets/css/slick-theme.css">

<link rel="stylesheet" href="/../assets/css/helpers.css">
<link rel="stylesheet" href="/../assets/css/style.css">


<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

</style>
<body class="w3-black" data-spy="scroll" data-target="#pb-navbar" data-offset="200">

  <!--Start Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light w3-animate-right navlist-right  "  id="navbar">
  <div class="container">
    <a class="navbar-brand d-lg-none" href="index.html">Ferid Tola</a> <!--hier statt "index.html, eventuell Home oder #" -> beachte außerdem die nächste Zeile: aria-expanded wurde auf von false auf true gesetzt, damit navbar beim anklicken wieder zu gehet,schau dazu die methode NavBar()-->
    <button class="navbar-toggler d-block d-sm-none"   (click)="toggleNavbar()" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse "  [ngClass]="{ 'show': navbarOpen }" id="onright">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#" (click)= " NavBar()" >Home </a></li>
        <li class="nav-item"><a class="nav-link" href="#service" (click)= " NavBar()">Service</a></li>
        <li class="nav-item"><a class="nav-link" href="#blog" (click)= " NavBar()">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact" (click)= " NavBar()">Contact</a></li>        
      </ul>
    </div>
    
  </div>
</nav>
<!--End Navbar-->
<!--Start first section-->
<section class="section " >
        <h1>CAPM – Capital Asset Pricing Model</h1>
     
        <p>The Capital Asset Pricing Model (CAPM) describes the relationship between the risk and the expected return on a share in financial and investment accounting. The Capital Asset Pricing Model was developed by William Sharpe in the 1960s. For this he received the Nobel Prize in Economics in 1990. </p>
        What exactly does this model say in detail? I will explain this question using a graphic.
  

  
        <h5>CAPM</h5>
        <img src="assets/capm1.png" alt="Ferid" class="image" style="height: auto; width: 100%" >

        <p>The beta β is shown on the x-axis. It stands for the risk of an asset (share) relative to the market (index). The natural anchor point is a beta of 1. According to CAPM, a beta of 1 results in the normal market return RM. With a beta greater than 1, investors expect a higher return, and with a beta less than 1, a lower return. The CAPM thus establishes a relationship between the risk expressed as beta and the return on investment shown on a y-axis.</p>
        <p>If you follow the Dax index over a certain period of time, the fixed point M = market, which is on the red line, results for beta 1 and return RM. Then there is the special point about the zero RF which represents a risk-free return. The straight line is horizontal and has a zero slope. This means that the return on an asset always remains the same. This is common for government bonds, for example. This fixes the second point and you can now draw the red straight line.</p>
        <p>William Sharpe's model is intended to show that sooner or later all stocks should be in equilibrium on this straight line. For example, the beta of stock A is less than one and therefore has a lower risk than the market. However, you also get a lower return on this stock, which is below the market return RM.</p>
        <p>In contrast, share B has a high level of volatility, but this also brings a higher return compared to share B. Let us now consider stocks C and D, which are not on the straight line. The share C has a lower volatility, thus a lower risk than the market (beta &lt; 1) and accordingly it also has a lower return. However, the return is too low. According to the straight line, stock C should have a slightly higher return. What happens now? Investors notice that this stock does not bring the required return and sell it. As a result, the price of this share falls and the return prospects at a low level of the share price are high again. The stock will then be able to generate higher returns and so it will move up until it is on the straight line.</p>
        <p>Share D has a very high return, i.e. a return above the theoretical straight line. Buying activity for this stock is increasing as it appears attractive to many investors. This leads to the fact that the share price rises and thus the possible gain at a higher share price level is lower. As a result, the return on this stock will decline over time.</p>
        <p>These dynamic processes generally ensure that all stocks more or less find themselves on the red line at the end. Measuring the beta and returns of stocks is the basis for investment decisions based on this model. One would invest in a share C if one expected that the return would increase and accordingly various investment strategies can be derived from it.</p>


  </section>
<!--end first section-->





    <div class="backbutton">
    <a href="#blog" class="w3-button w3-light-black w3-padding-large w3-center w3-margin-bottom "  ><i class="fa fa-arrow-left w3-margin-right"></i>Go to Blog</a>
    </div>

    <div class="social">
        <a href ="https://www.instagram.com/feridtola/?hl=de" > <i class="fa fa-instagram w3-hover-opacity w3-xxlarge w3-text-white" id = "instagram"> </i></a>
        <a href="https://de.linkedin.com/in/ferid-tola10"><i class="fa fa-linkedin w3-hover-opacity w3-xxlarge w3-text-white" ></i></a>
      </div>
 <footer>
  <div class="w3-content w3-padding-64 w3-text-white w3-small">
    <p class="pb_font-14">&copy; 2021 <a href="https://feridtola.com/">feridtola.com</a>. All Rights Reserved. Designed by <a href="https://feridtola.com/">Ferid Tola</a></p>
    <a href="/imprint">Imprint</a>
    </div>
</footer>

</body>
</html>